MONGO_URL="mongodb+srv://<db_user>:<db_password>@<cluster_host>/?retryWrites=true&w=majority"
DB_NAME="test_database"
CORS_ORIGINS="*"
RESEND_API_KEY=""
SENDER_EMAIL="you@example.com"
RECIPIENT_EMAIL=""
